{% extends 'base.html' %}

{% block content %}

<div class="py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Check our Menu</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="{% url 'booking:home' %}">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Our Menu</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Menu Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-h fw-normal">Food Menu</h5>
            <h1 class="mb-5">Most Popular Items</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">

                {% for category in categories %}

                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill"
                        id="{{category}}-tab" href="#{{category}}">
                        <div class="ps-3">
                            <h6 class="mt-n1 mb-0">{{category}}</h6>
                        </div>
                    </a>
                </li>

                {% endfor %}

            </ul>

            <div class="tab-content">

                {% for category in categories %}

                <div id="{{category}}" class="tab-pane fade show p-0 active">
                    <div class="row g-4">

                        {% for meal in meal_list %}

                            {% if meal.category == category %}
                        
                            <div>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded meal-img" src="{{meal_detail.image.url}}" alt="" style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span><a href="{% url 'booking:meal_detail' meal.slug %}">{{meal.name}}</a></span>
                                                <span class="text-h">€ {{meal.price}}</span>
                                        </h5>
                                        <small class="fst-italic">{{meal.description}}</small>
                                    </div>
                                </div>
                            </div>

                            {% endif %}

                        {% endfor %}

                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
</div>
<!-- Menu End -->

{% endblock content %}